.guide {
	  .newdownload {
		  img {
			  display: block;
			  margin:auto;
			  width: 100%;
			  height: auto;
		  }
	  }
	  .imgwrap {
		background: rgb(255,247,233);
		img {
			display: block;
			margin:auto;
			width: 100%;
			height: auto;
		}
	  }
	  .tip {
		background:#FFFFFF;
		height: 140px;
		line-height: 140px;
		text-align: center;
		font-size: 20px;
	  }
}